.inventory-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.inventory-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  flex: 0 0 25%;
  transition: opacity 0.3s ease;
  height: 250px;
  /*  display: flex;*/
  flex-direction: column;
  justify-content: space-between;
}

.inventory-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

input[type="text"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
