.search-bar {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}

.search-bar .search-icon {
    margin-right: 10px;
}

.search-bar .clear-search {
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #999;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
